/*
* Alby Mathews Bruse
* Student No : 8980406
*/
html{
    font: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    font: 1rem Arial;
    color: #f8e0e5;
    padding: 0.625rem;
    background-color: #18070c;
}

.headfoot {
    border: 2px red solid;
    padding: 0.313rem;
    width: 100%;
    margin: auto;
    text-align: center;
    background-image: Linear-gradient(#e58da4, #7d471c,#d9a956);
}

h1 , h2 {
    color: #eae9fc;
    font-variant: small-caps;
}

footer p {
    font-size: smaller;
    color: rgb(255, 255, 255);
}

.mainbody{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}


main {
    flex: 2 1 70%;
    padding: 0.313rem;
}

aside {
    flex: 1 1 30%;
    padding: 0.313rem;
    background-color: black;
    background-image: url("../images/aside2.jpg");
    background-position:auto;
}



main p{
    display: inline;
}

.mainimg {
    height: 200px;
    width: auto;
    float: left;
    border: 2px solid #1d1d1d;
    shape-outside: polygon(-0.23% -0.27%, 50.78% 0.8%, 62.94% 10.92%, 64.53% 23.58%, 66.99% 41.63%, 66.93% 54.65%, 68.51% 76.28%, 61.25% 87.65%, 54.67% 96.39%, 99.46% 100.19%, 0.38% 99.25%);
}

figcaption {
    font-weight: bold;
    font-variant: small-caps;
}

q {
    font-family: cursive;
    font-style: italic;
    font-size: large;
}

ul li {
    list-style:none ;
    line-height: 2rem;
}

ul>li>a {
    text-decoration: none;
    color: #ffffff;
}

aside h2{
    background-color: #000000;
}

aside a:hover {
    padding: 0.625rem;
    background-color: #3a31d8;
    color: #020024;
    font-weight: bold;
    border-radius: 10px;
}

.navigation {
    display: flex;
    margin: 1rem 0;
    background-color: #020024;
    height: 2rem;
    line-height: 2rem;
    justify-content: space-around;
    flex-wrap: nowrap;

}

.navigation a{
    text-decoration: none;
    text-align: center;
    color: #eae9fc;
    font-size: 1rem;
    font-weight: 700;
    flex: 100% 1 1;

}

.navigation a:hover{
    background-color: #3a31d8;
    color: #020024;
}

.mediacontainer{
    padding-bottom: 1.2rem;
    height: 32vw;
    width: 100%;
}

.imagegrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.imagegrid img{
    height: 16rem;
    width: 16rem;
    clip-path: polygon(5.6% 3.6%, 39.69% -0.69%, 94% 8.6%, 100.28% 32.97%, 98% 99%, 38.46% 90.09%, 3% 93%, -1.33% 20.57%);
}

input[type=text], 
input[type=email],
input[type=submit],
select, option,textarea{
    width: 50%;
    display: block;
    height: 2em;
}

table, th,td {
    border: 1px solid white;
    padding: 0.625rem;
}

table{
    border-collapse: collapse;
}


@media (max-width: 800px) {
    
    .mainbody{
        flex-wrap: wrap;
    }

    aside{
        background-image: url("../images/kalamaside.jpeg"); 
        background-size:contain;
        background-repeat: no-repeat;
        background-position:right;
    }

    .mediacontainer{
        height: 64vw;
    }

    input[type=text], 
input[type=email],
input[type=submit],
select, option,textarea{
        width: 100%;
    }
}



@media (max-width: 600px) {
    body{
        font: 0.7rem;
    }
    
    .mainbody{
        flex-wrap: wrap;
    }

    .imagegrid{
        grid-template-columns: repeat(2, 1fr);
    }

    aside{
        background-image: url("../images/kalamaside.jpeg"); 
        background-size:contain;
        background-repeat: no-repeat;
        background-position:right;
    }

    .mediacontainer{
        height: 64vw;
    }

    input[type=text], 
input[type=email],
input[type=submit],
select, option,textarea{
        width: 100%;
    }
}